@{
    ViewBag.Title = "Управление учетной записью";
    Layout = "";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-lg-12">
        <h1>Настройки</h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-user"></i> Мой профиль</li>
        </ol>
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new ZelectroCom.Web.ViewModels.ExternalLoginViewModel() {Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl})
        </section>
    </div>
</div>
