@using BForms.Html
@using BForms.Models
@model ZelectroCom.Web.Areas.Member.ViewModels.Article.DraftVm
@{
    ViewBag.Title = "Черновик";
    Layout = "~/Areas/Member/Views/Shared/_AdminLayout.cshtml";
}

@section PageHead
{
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />
}

<div class="row">
    <div class="col-xs-12">
        <h1>Черновик <small>вашей будущей статьи</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-pencil"></i> Черновик</li>
        </ol>
    </div>
</div>


    <div class="col-xs-12">
        @using (Html.BsBeginForm("Draft", "Article", FormMethod.Post, new { @class = "bs-form js-draftForm" }, BsTheme.Green))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id);
            <div class="row">
                <div class="control-group col-xs-12">
                    <button class="btn btn-theme js-saveDraftBtn" type="submit">Сохранить</button>
                    <button class="btn btn-theme" id="previewBtn">Предварительный просмотр</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 bs-validation_summary">
                    @Html.BsValidationSummary()
                </div>
                <div class="alert alert-success" id="success-alert">
                    <button type="button" class="close" data-hide="alert">x</button>
                    Черновик успешно сохранен.
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-10 col-md-8 col-lg-4">
                    @Html.BsLabelFor(m => m.Title)
                    <div class="input-group">
                        @Html.BsGlyphiconAddon(Glyphicon.Book)
                        @Html.BsTextBoxFor(m => m.Title)
                        @Html.BsValidationFor(m => m.Title)
                    </div>
                </div>
            </div>
            if (this.User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-10 col-md-8 col-lg-4">
                        @Html.BsLabelFor(m => m.SectionId)
                        <div class="input-group">
                            @Html.BsDropDownListFor(m => m.SectionId, Model.Sections)
                            @Html.BsValidationFor(m => m.SectionId)
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                    @Html.BsTextAreaFor(m => m.Text, 18, 60, new { @id = "articleEditor" })
                </div>
            </div>
            @*TODO Html.EditorFor(m => m.Text, "RichEditor")*@
            <hr />

            if (this.User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-10 col-md-8 col-lg-4">
                        @Html.BsLabelFor(m => m.PublishTime)
                        <div class="input-group">
                            @Html.BsGlyphiconAddon(Glyphicon.Time)
                            @Html.BsDateTimePickerFor(m => m.PublishTime)
                            @Html.BsValidationFor(m => m.PublishTime)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-10 col-md-8 col-lg-4">
                        @Html.BsLabelFor(m => m.SeoTitle)
                        @Html.BsInputFor(m => m.SeoTitle)
                        @Html.BsValidationFor(m => m.SeoTitle)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-10 col-md-8 col-lg-4">
                        @Html.BsLabelFor(m => m.SeoUrl)
                        @Html.BsInputFor(m => m.SeoUrl)
                        @Html.BsValidationFor(m => m.SeoUrl)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-10 col-md-8 col-lg-4">
                        @Html.LabelFor(m => m.SeoDescription, new { @class = "control-label" })
                        @Html.BsTextAreaFor(m => m.SeoDescription, new { @class = "form-control" })
                        @Html.BsValidationFor(m => m.SeoDescription)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-10 col-md-8 col-lg-4">
                        @Html.BsLabelFor(m => m.SeoKeywords)
                        @Html.BsInputFor(m => m.SeoKeywords)
                        @Html.BsValidationFor(m => m.SeoKeywords)
                    </div>
                </div>
            }
        }
    </div>
