@model ZelectroCom.Web.ViewModels.Post.ArticleVm

@{
    ViewBag.Title = Model.Title;
}

@section Meta {
    <meta name="title" content="@Model.SeoTitle" />
    <meta name="description" content="@Model.SeoDescription" />
    <meta name="keywords" content="@Model.SeoKeywords" />
}

<div class="ztitle"><h1>@Model.Title</h1></div>
@*<p class="lead">
    автор: <a href="#">@Model.AuthorName</a>
</p>*@
<hr>
<p><span class="glyphicon glyphicon-time"></span> Опубликовано @Model.PublishTime</p>
<hr>
<div class="article">@Html.Raw(Model.Text)</div>
<hr>